@model AppleStore.Models.Mac

@{
    ViewData["Title"] = $"{Model.MacModel}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentModel = Model.MacModel;
    string currentType = Model.Type;
    string currentColor = Model.Color;
    string currentMemory = Model.Memory;
    int currentYearOfProd = Model.YearOfProduction;
    int amount = 1;

}
<br>
<h4>
    <a href="/Mac/Models/@Model.Type"> << @Model.Type</a>
</h4>

<div style="display: flex; justify-content: space-between;">
    @if (Model.Type == "MacBook Air")
    {
        <img style="height: 300px; margin-top: 75px" src="~/images/@Model.MacModel-@Model.Color-@Model.ScreenSize-details .webp"
             alt="@Model.MacModel-@Model.Color-@Model.ScreenSize-img" />
    }
    else
    {
        <img src="~/images/@Model.MacModel-@Model.Color-@Model.ScreenSize-details .webp"
             alt="@Model.MacModel-@Model.Color-@Model.ScreenSize-img" />
    }


<div>
    <br><br><br><br><br><br><br>
    <h1>
        $ @Model.Price
    </h1>

    @if (Model.AmountOfProduct <= 0)
    {
        <h3 style="color:#fe5d00">
            Not Available
        </h3>
    }
    else
    {
        <br>
        <span style="color:blue; font-size:17px;">Available to purchase: <b>@Model.AmountOfProduct</b></span>
        <form action="/Mac/AddToCart/@Model.Id/@amount" method="post">
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input asp-for="@amount" class="form-control" min="1" max="@Model.AmountOfProduct"/>
            </div>
            <br>
            <br>
            <h3>
                <button type="submit" style="color:#18c7c7">ADD TO CART</button>
            </h3>
        </form>
    }
</div>

    <div>
        <dl class="dl-horizontal">
            <dt>
                Model:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MacModel)
            </dd>
            <br>
            <dt>
                Memory:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Memory)
            </dd>
            <br>
            <dt>
                Color:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
            <br>
            <dt>
                Screen size:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScreenSize)"
            </dd>
            <br>
            <dt>
                Processor:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Processor)
            </dd>
            <br>
            <dt>
                Ram:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ram) Gb
            </dd>
            <br>
            <dt>
                Ssd capacity:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SsdCapacity)
            </dd>
            <br>
            <dt>
                Drive capacity:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DriveCapacity)
            </dd>
            <br>
            <dt>
                Video card:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VideoCard)
            </dd>
            <br>
            <dt>
                Year of production:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YearOfProduction)
            </dd>
            <br>
            <dt>
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>