@model IEnumerable<AppleStore.Models.Mac>

@{
    ViewData["Title"] = "Mac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Models</h2>*@

<br />
<h4>
    <a href="/Mac/Index"><< Macs</a>
</h4>

<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                <nav>
                    <br>
                    <a href="/Mac/Details/@item.Id" style="text-align: center;">
                        <img src="~/images/@item.MacModel-@item.Color-@item.ScreenSize .webp" 
                             alt="@item.MacModel-@item.Color-@item.ScreenSize-img" />
                        <br>
                        <h4>
                            <span>@item.MacModel</span>
                            <br>
                            <span>@item.YearOfProduction</span>
                            <br>
                            <span>@item.Memory</span>
                            <br>
                            <span>@item.Color</span>
                            <br>
                            <br>
                            <span style="font-size:25px;">$ @item.Price</span>
                            <br>
                            @if (item.AmountOfProduct <= 0)
                            {
                                <span style="font-size:17px; color:#fe5d00">Not Available</span>
                                <br>
                            }
                            else
                            {
                                <span style="font-size:17px; color:#40b157">Available  Now</span>
                                <br>
                            }
                        </h4>
                    </a>
                    <br>
                </nav>
            }
        </td>
    </tr>
</table>