@model IEnumerable<AppleStore.Models.IPad>

@{
    ViewData["Title"] = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Models</h2>*@
<br />
<h4>
    <a href="/IPad/Index"><< iPads</a>
</h4>
<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
            <nav>
                <br>
                <a href="/IPad/Details/@item.Id" style="text-align: center;">
                    <img src="~/images/@item.TypeOfModel-@item.Color .webp" alt="@item.TypeOfModel-@item.Color-img" />
                    <br>
                    <h4>
                        <span>@item.IPadModel</span>
                        <br>
                        <span>@item.Type</span>
                        <br>
                        <span>@item.Memory</span>
                        <br>
                        <span>@item.Color</span>
                        <br>
                        <br>
                        <span style="font-size:25px;">$ @item.Price</span>
                        <br>
                    </h4>
                </a>
                <br>
            </nav>
                }
            </td>
        </tr>
    </table>
