@model AppleStore.Models.IPhone

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IPhone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IPhoneModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IPhoneModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UhdRecording)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UhdRecording)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainCamera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainCamera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontCamera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontCamera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
