@model AppleStore.Models.IPhone

@{
    ViewData["Title"] = $"{Model.IPhoneModel}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align: center;">Details</h2>*@

<br>
<h4>
    <a href="/IPhone/Models/@Model.IPhoneModel"> << @Model.IPhoneModel</a>
</h4>

<div style="display: flex;">
    <img style="margin-bottom: 70px;" src="~/images/@Model.IPhoneModel-@Model.Color-details .webp" alt="@Model.IPhoneModel-@Model.Color-img" />
    <div style="padding-top: 50px;">
        <dl class="dl-horizontal">
            <dt>
                Model:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IPhoneModel)
            </dd>
            <br />
            <dt>
                Memory:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Memory) 
            </dd>
            <br />
            <dt>
                Battery capacity:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BatteryCapacity) mAh
            </dd>
            <br />
            <dt>
                Weight:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Weight) g
            </dd>
            <br />
            <dt>
                Screen type:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScreenType)
            </dd>
            <br />
            <dt>
                Screen size:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScreenSize)"
            </dd>
            <br />
            <dt>
                4K recording:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UhdRecording)
            </dd>
            <br />
            <dt>
                Processor:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Processor)
            </dd>
            <br />
            <dt>
                Ram:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ram) Gb
            </dd>
            <br />
            <dt>
                Main camera:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MainCamera) MP
            </dd>
            <br />
            <dt>
                Front camera:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FrontCamera) MP
            </dd>
            <br />
            <dt>
                Color:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
            <br />
            <dt>
                Price:
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.Price)
            </dd>
            <br />
            <dt>
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>