@model IEnumerable<AppleStore.Models.IPhone>

@{
    ViewData["Title"] = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2 style="text-align:center;"></h2>
<hr />*@
<br>
<h4>
    <a href="/IPhone/Index"><< iPhones</a>
</h4>
<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                <nav>
                    <a href="/IPhone/Details/@item.Id" style="text-align: center;">
                        <img src="~/images/@item.IPhoneModel-@item.Color .webp" alt="@item.IPhoneModel-@item.Color-img" />
                        <br>
                        <br>
                        <h4>
                            <span>@item.IPhoneModel</span>
                            <br>
                            <span>@item.Memory</span>
                            <br>
                            <span>@item.Color</span>
                            <br>
                            <br>
                            <span>$ @item.Price</span>
                            <br>
                        </h4>
                    </a>
                </nav>
            }
        </td>
    </tr>
</table>