@model IEnumerable<AppleStore.Models.IPhone>

@{
    ViewData["Title"] = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Models</h2>

<a href="/IPhone/Index">Back</a>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPhoneModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="#" alt="@item.IPhoneModel-@item.Memory-@item.Color-img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPhoneModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
