@model AppleStore.Models.AirPods

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h4>
    <a href="/AirPods/Models/@Model.AirPodsModel"> << @Model.AirPodsModel</a>
</h4>
<br>
<div style="display: flex; justify-content: space-evenly">

    <img src="~/images/@Model.AirPodsModel .webp" alt="@Model.AirPodsModel-img" />

    <div style="margin-top: 70px">
        <h1>
            $ @Model.Price
        </h1>
    </div>
    
    <div style="margin-top: 45px">
        <dl class="dl-horizontal">
            <dt>
                Model:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AirPodsModel)
            </dd>
            <br>
            <dt>
                Wireless charging:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WirelessCharging)
            </dd>
            <br>
            <dt>
                Year of production:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YearOfProduction)
            </dd>
            <br>
            <dt>
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>