@model IEnumerable<AppleStore.Models.AirPods>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">AirPods</h2>

<a href="/Home/Index"><br>Home Page</a>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirPodsModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/AirPods/Details/@item.Id">
                        <img src="#" alt="@item.AirPodsModel-img" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirPodsModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
