@model AppleStore.Models.AppleWatch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AppleWatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppleWatchModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppleWatchModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cellular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cellular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HousingMaterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HousingMaterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StrapType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StrapType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
