@model IEnumerable<AppleStore.Models.AppleWatch>

@{
    ViewData["Title"] = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Models</h2>*@

<br>
<h4>
    <a href="/AppleWatch/Index"><< Apple Watches</a>
</h4>

<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                <nav>
                    <a href="/AppleWatch/Details/@item.Id" style="text-align: center;">
                        @if (item.AppleWatchModel == "Apple Watch Series 3" && item.Color == "Silver" && item.ScreenSize == 38)
                        {
                            <img style="height:300px; width:270px;" src="~/images/@item.AppleWatchModel-@item.ScreenSize-@item.Color .webp"
                                 alt="@item.AppleWatchModel-@item.ScreenSize-@item.Color-img" />
                        }
                        else if (item.AppleWatchModel == "Apple Watch Series 3" && item.Color == "Space Gray" && item.ScreenSize == 38)
                        {
                            <img style="height:220px; width:230px;" src="~/images/@item.AppleWatchModel-@item.ScreenSize-@item.Color .webp"
                                 alt="@item.AppleWatchModel-@item.ScreenSize-@item.Color-img" />
                        }
                        else
                        {
                            <img src="~/images/@item.AppleWatchModel-@item.ScreenSize-@item.Color .webp"
                                 alt="@item.AppleWatchModel-@item.ScreenSize-@item.Color-img" />
                        }
                        <br>
                        <br>
                        <h4>
                            <span>@item.AppleWatchModel</span>
                            <br>
                            <span>@item.ScreenSize mm</span>
                            <br>
                            <span>@item.Color</span>
                            <br>
                            @if (item.Cellular == "Yes")
                            {
                                <span>Cellular</span>
                                <br>
                            }

                            @if (item.Gps == "Yes")
                            {
                                <span>GPS</span>
                                <br>
                            }
                            <br>
                            <span style="font-size:25px;">$ @item.Price</span>
                            <br>
                            <br>
                            <br>
                        </h4>
                    </a>
                </nav>
            }
        </td>
    </tr>
</table>